@import '_reset';
@import '_variables';
@import '_mixins';
@import '_header';
@import '_forms';
@import '_buttons';
@import '_modal';

* {
  font-family: $font;
}

body {
  background-image: $background;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: inline-flex;
  width: 100%;
  padding: 2%;
  margin: 0;
  background-color: $light-grey;
  @include box-shadow();
  opacity: 80%;
}

main {
  @include flex-column;
}

h1 {
  font-size: 5vh;
  display: flex;
  justify-content: center;
  font-family: $font;
  color: $dark-blue;
}

h2 {
  font-size: 20px;
  font-family: $font;
}

h2 {
  font-size: 18px;
  font-family: $font;
}


button {
  color: $dark-blue;
  background-color: white;
  border-color: $dark-grey;
  border-radius: 5%;
  margin: 5%;
}

button:hover {
  @include button-hover;
}

.header-buttons {
  @include flex-row;
  margin-left: 10%;
  margin-right: 10%;
}

.logged-in-as {
  @include flex-row;
}

.login-form {
  @include flex-column;
}

.login-display,
.bookings-section,
.users-profile {
  @include main-styling;
  @include flex-center;
  background-color: $light-grey;
  opacity: 90%;
  color: $dark-blue;
  @include box-shadow();
}

.profile-booking-header {
  margin-right: 10%;
  width: 30%;
}

.users-profile{
  @include flex-column;
}

.profile-headers{
  @include flex-row;
}

.reservation {
  margin-top: 10%;
}

.hidden {
  display: none;
}
